**Task 1: NdArray (5 Points)**

- Create a list and 1-dimensional numpy array with identical elements and show that slicing in both is the same.
- Choose 3 movies and create 2, 3x4 numpy arrays as follows:
- The first numpy array called cast contains the name of 4 actors/actresses from each movie.
- The second numpy array called movies contains the name of the movie corresponding to each cast.
- Calculate the boolean indexing for one of the movies in the second numpy array.
- Using the boolean indexing from the previous step, select the actors/actresses that played in that movie and put it in a new numpy array called selected_movie.
- Save all of the three numpy arrays from the previous steps to disk.
- Reload the saved file and load the three numpy arrays to three new variables called cast_new, movies_new and selected_movie_new.

In [3]:
# Create a list and 1-dimensional numpy array with identical elements and show that slicing in both is the same.
import numpy as np

sample_list = ['apples', 'bananas', 'orange', 'grapes']
sample_np = np.array(['apples', 'bananas', 'orange', 'grapes'])

#slicing
print (sample_list[0:3])
print (sample_np[0:3])

['apples', 'bananas', 'orange']
['apples' 'bananas' 'orange']

**Explanation**
results showed that list and numpy array slice the same way

In [6]:
# Choose 3 movies and create 2, 3x4 numpy arrays 
# first numpy array called cast
cast = np.array([
    ['Daniel Radcliff', 'Emma Watson', 'Rupert Grint', 'Tom Felton'],
    ['Leonardo Dicaprio', 'Kate Winslet', 'Billy Zane', 'Kathy Bates'], 
    ['Matt Damon', 'Jessica Chastain', 'Kristen Wiig', 'Jeff Daniels']
])
# second numpy array called movies
movies = np.array ([
    ['Harry Potter', 'Harry Potter', 'Harry Potter', 'Harry Potter'],
    ['Titanic', 'Titanic', 'Titanic', 'Titanic'],
    ['Martian', 'Martian', 'Martian', 'Martian']
])

**Explanation**
Made 2 numpy arrays with same shapes. One with 4 cast names from each movie, and one with just the movie

In [14]:
# Calculate the boolean indexing for one of the movies in the second numpy array
boolean_index = movies == 'Titanic'
print (boolean_index)

[[False False False False]
 [ True  True  True  True]
 [False False False False]]

**Explanation**
One example of boolean indexing I used is to see which row matches 'Titanic'. As shown in the result, you can see the second row matches.

In [16]:
# Using the boolean indexing from the previous step, select the actors/actresses that played in that movie and put it in a new numpy array called selected_movie.
selected_movie = cast[boolean_index]
print (selected_movie)

['Leonardo Dicaprio' 'Kate Winslet' 'Billy Zane' 'Kathy Bates']

**Explanation**
I selected the cast that's True to the boolean_index, which are casts of Titanic.

In [19]:
# Save all of the three numpy arrays from the previous steps to disk.
np.savez(
    'movie_data.npz',
    cast=cast,
    movies=movies,
    selected_movie=selected_movie
)
print ("all numpy arrays saved")

all numpy arrays saved

**explanation**
save to a numpy zip file, where the keys (arrays) are cast, movies, and selected movie

In [20]:
#Reload the saved file and load the three numpy arrays to three new variables
#called cast_new, movies_new and selected_movie_new.
data = np.load('movie_data.npz')
cast_new = data['cast']
movies_new = data['movies']
selected_movie_new = data['selected_movie']

**explanation**
loaded the file again and gave new names

In [24]:
print(cast_new)

[['Daniel Radcliff' 'Emma Watson' 'Rupert Grint' 'Tom Felton']
 ['Leonardo Dicaprio' 'Kate Winslet' 'Billy Zane' 'Kathy Bates']
 ['Matt Damon' 'Jessica Chastain' 'Kristen Wiig' 'Jeff Daniels']]

In [25]:
print(movies_new)

[['Harry Potter' 'Harry Potter' 'Harry Potter' 'Harry Potter']
 ['Titanic' 'Titanic' 'Titanic' 'Titanic']
 ['Martian' 'Martian' 'Martian' 'Martian']]

In [27]:
print(selected_movie_new)

['Leonardo Dicaprio' 'Kate Winslet' 'Billy Zane' 'Kathy Bates']

**explanation**
printed all new names to check

**Task 2: Pandas Basics (2 Points)**

Create a Series object as follows: 

- The Series object contains at least 7 car models with the index being car brands like 'BMW' , e.g. data being X3 and the index is BMW.
- Use boolean filtering to filter cars containing the letter 'a'
- Rename the index column to "manufacturer."

In [4]:
import pandas as pd

car_series = pd.Series(
    ['BMW-X3', 'C-Class Sedan', 'Lexus RX', 'E-Tron GT', 'Corolla', 'Hyundai', 'Civic'],
    index=['BMW', 'Mercedes', 'Lexus', 'Audi', 'Toyota', 'Hyundai', 'Honda']
)

**explanation**
created a series with 7 car models, and labeled all the index based on their brand

In [6]:
# Use boolean filtering to filter cars containing the letter 'a'
car_series.str.contains('a', case=False)

BMW         False
Mercedes     True
Lexus       False
Audi        False
Toyota       True
Hyundai      True
Honda       False
dtype: bool

**explanation**
check entire string to see which contains a. I originally added another car_series[ ] outside the whole thing so only the true value would show, but decided to leave it.

In [7]:
# Rename the index column to "manufacturer."
car_series.index.name = 'manufacturer'
car_series

manufacturer
BMW                BMW-X3
Mercedes    C-Class Sedan
Lexus            Lexus RX
Audi            E-Tron GT
Toyota            Corolla
Hyundai           Hyundai
Honda               Civic
dtype: object

**explanation**
added a title to the column index

**Task 3: DataFrame (7 Points)**

Create a DataFrame as follows:

- The DataFrame columns are "fruit" (string), "number_of_seeds" (integer), "edible" (boolean) and "season" (one of the values for 'summer', 'fall' or 'spring'), and the DataFrame contains at least 5 rows.
- Add a new column to the DataFrame called "Color" and show that all the values for the column are NaN after adding the column
- Set all of the values for the "Color" column to "Unknown"
- Use slicing properly to extract "number_of_seeds" and "fruit" for 2 rows.
- Write a function called "seed_count_calculator" and use the apply() method to sum the number_of_seeds row. (do not use the built-in sum functions for this part)
- Try to sort the DataFrame by fruit names.
- Find both the index and name of the fruit with the maximum amount of seeds.
- Save the DataFrame to disk as a CSV file.
- Reload the saved CSV in a new variable.

In [8]:
import pandas as pd

data = {
    'fruit': ['apple', 'banana', 'orange', 'grape', 'pineapple'],
    'number_of_seeds':[5, 0, 3, 1, 4],
    'edible': [True, True, True, True, True],
    'season': [ 'Summer', 'Summer', 'Winter', 'Summer', 'Summer']
}

df = pd.DataFrame(data)
df

       fruit  number_of_seeds  edible  season
0      apple                5    True  Summer
1     banana                0    True  Summer
2     orange                3    True  Winter
3      grape                1    True  Summer
4  pineapple                4    True  Summer

**explanation**
made a table based on the instruction, need at least 5 rows so added 5 things to each category (column)

In [10]:
#Add a new column to the DataFrame called "Color" and show that all the values for the column are NaN after adding the column
df['color'] = None
df

       fruit  number_of_seeds  edible  season color
0      apple                5    True  Summer  None
1     banana                0    True  Summer  None
2     orange                3    True  Winter  None
3      grape                1    True  Summer  None
4  pineapple                4    True  Summer  None

**explanation**

Tried doing df['color'] = Nan, but it says its not defined, so I changed it to None and showed the dataframe

In [46]:
# Set all of the values for the "Color" column to "Unknown"
df['color'] = 'Unknown'
df

       fruit  number_of_seeds  edible  season    color
0      apple                5    True  Summer  Unknown
1     banana                0    True  Summer  Unknown
2     orange                3    True  Winter  Unknown
3      grape                1    True  Summer  Unknown
4  pineapple                4    True  Summer  Unknown

In [48]:
# Use slicing properly to extract "number_of_seeds" and "fruit" for 2 rows.
df.loc[0:1, ['number_of_seeds', 'fruit']]

   number_of_seeds   fruit
0                5   apple
1                0  banana

**explanation**
slicing: [0:1] gets the first 2 rows
.loc is label based and I looked up number of seeds and fruits

In [51]:
# Write a function called "seed_count_calculator" and use the apply() method to sum the number_of_seeds row. 

def seed_count_calculator(series):
    total = 0
    for value in series:
        total += value
    return total

total_seeds = seed_count_calculator(df['number_of_seeds'].apply(lambda x: x))
print(total_seeds)

13

**explanation**
df[number of seeds] is a series which i created a function for. I started total count as 0, and every time it loops through the number in series, it adds to total.
apply() runs the function through each value and lambda doesn't do anything in this case, it just returns the value and print total seeds

In [53]:
# Try to sort the DataFrame by fruit names.
df.sort_values(by= 'fruit')

       fruit  number_of_seeds  edible  season    color
0      apple                5    True  Summer  Unknown
1     banana                0    True  Summer  Unknown
3      grape                1    True  Summer  Unknown
2     orange                3    True  Winter  Unknown
4  pineapple                4    True  Summer  Unknown

**explanation**
sorted fruit by alphabetical order

In [56]:
#Find both the index and name of the fruit with the maximum amount of seeds.
df.loc[df['number_of_seeds'].idxmax(), 'fruit']

'apple'

**explanation**
number of seeds.idxmax finds the max amount of seeds and .loc (label based as mentioned) find the name of the fruit

In [57]:
# Save the DataFrame to disk as a CSV file.
df.to_csv('Fruitsdf.csv', index = False)

In [58]:
# Reload the saved CSV in a new variable.
df = pd.read_csv('Fruitsdf.csv')
df

       fruit  number_of_seeds  edible  season    color
0      apple                5    True  Summer  Unknown
1     banana                0    True  Summer  Unknown
2     orange                3    True  Winter  Unknown
3      grape                1    True  Summer  Unknown
4  pineapple                4    True  Summer  Unknown